@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  max-width: 1400px;
  width: 99%;
  margin: 0 auto;
}
.item {
  border-radius: 16px;
}

@media screen and (max-width: 786px) {
  .forsmallScreens {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .smallscreen {
    width: 60%;
    margin-bottom: 1rem;
  }
  .sms {
    width: 90%;
  }
}
